.rain-overlay {
  pointer-events: none; /* allows clicks through rain */
  position: fixed;
  inset: 0;
  z-index: 9999;
  overflow: hidden;
}

.rain-drop {
  position: absolute;
  width: 1.2px;
  height: 18px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.5)
  );
  animation-name: fall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  filter: blur(0.3px);
}


@keyframes fall {
  0% {
    transform: translate3d(0, -120px, 0);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    transform: translate3d(60px, 110vh, 0);
    opacity: 0;
  }
}

